<nb-accordion>
  <nb-accordion-item *ngFor="let redSocial of publicacion.redSocial" [expanded]="true">
    <nb-accordion-item-header>{{ redSocial | titlecase }}</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="row">
        <!-- Facebook -->
        <div *ngIf="redSocial.toLowerCase() === 'facebook' && publicacion.tipoPublicacion">
          <modal-publicacion-acordeon-forms-facebook-form
                  [redSocial]="redSocial"
                  [publicacion]="publicacion"
                  [facebookForm]="facebookForm" />
        </div>
        <!-- Instagram -->
        <div *ngIf="redSocial.toLowerCase() === 'instagram' && publicacion.tipoPublicacion">
          <modal-publicacion-acordeon-forms-instagram-form
            [redSocial]="redSocial"
            [publicacion]="publicacion"
            [instagramForm]="instagramForm" />
        </div>
        <!-- YouTube -->
        <div *ngIf="redSocial.toLowerCase() === 'youtube' && publicacion.tipoPublicacion">
          <modal-publicacion-acordeon-forms-youtube-form
            [redSocial]="redSocial"
            [publicacion]="publicacion"
            [youtubeForm]="youtubeForm" />
        </div>
        <!-- TikTok -->
        <div *ngIf="redSocial.toLowerCase() === 'tiktok' && publicacion.tipoPublicacion">
          <modal-publicacion-acordeon-forms-tiktok-form
            [redSocial]="redSocial"
            [publicacion]="publicacion"
            [tiktokForm]="tiktokForm"
          />
        </div>
        <!-- LinkedIn -->
        <div *ngIf="redSocial.toLowerCase() === 'linkedin' && publicacion.tipoPublicacion">
          <modal-publicacion-acordeon-forms-linkedin-form
            [redSocial]="redSocial"
            [publicacion]="publicacion"
            [linkedinForm]="linkedinForm"
          />
        </div>
        <!-- Pinterest -->
        <div *ngIf="redSocial.toLowerCase() === 'pinterest' && publicacion.tipoPublicacion">
          <modal-publicacion-acordeon-forms-pinterest-form
            [redSocial]="redSocial"
            [publicacion]="publicacion"
            [pinterestForm]="pinterestForm" />
        </div>
        <!-- Twitter -->
        <div *ngIf="redSocial.toLowerCase() === 'twitter' && publicacion.tipoPublicacion">
          <modal-publicacion-acordeon-forms-twitter-form
            [redSocial]="redSocial"
            [publicacion]="publicacion"
            [twitterForm]="twitterForm"
          />
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
