<form [formGroup]="twitterForm">
  <div
    class="col-md-12 mb-3">
    <label>Enlace</label>
    <input fullWidth nbInput placeholder="Enlace" formControlName="enlace"
           class="form-control mb-3" />
  </div>
  <div class="col-md-12 mb-3">
    <label>Hashtags</label>
    <input fullWidth nbInput placeholder="Hashtags" formControlName="hashtags"
           class="form-control mb-3" />
  </div>
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      Video: Máximo 2 minutos 20 segundos. Imagen: Resolución mínima 440x220 píxeles.
    </div>
  </div>
</form>
