
/* Contenedor general para la vista previa */
.preview-container {
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

/* Contenedor para la previsualización móvil */
.mobile-preview-container {
  width: 320px; /* Ancho típico de móvil */
  height: auto; /* Ajusta automáticamente la altura */
  border: 3px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

/* Contenedor para la previsualización de escritorio */
.desktop-preview-container {
  width: 600px; /* Ajuste para mantener la proporción de la vista de escritorio */
  height: auto;
  border: 3px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Estilos para la imagen/video en la previsualización móvil */
.preview-image,
.preview-video {
  width: 100%;
  height: auto;
  max-height: 200px; /* Ajustamos la altura máxima para que no se salga del contenedor */
  object-fit: contain; /* Mantener las proporciones */
  display: block;
  margin-bottom: 10px;
}

/* Estilos para el título y la descripción */
.preview-title {
  font-size: 16px; /* Ajuste del tamaño de fuente */
  font-weight: bold;
  margin: 10px;
  text-align: center; /* Centra el texto */
}

.preview-description {
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
}

/* Estilos para la vista previa predeterminada */
.default-preview {
  border: 3px dashed #ccc; /* Un borde diferente para indicar que es el estado predeterminado */
}

.default-post-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.default-post-preview .preview-description {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}
