/* Estilo para el titulo, se genera para mejorar el responsive */
.title{
  display: flex;
}

/* Estilos para imágenes de previsualización en el modal. Se asegura de que las imágenes se ajusten adecuadamente sin sobrepasar su contenedor. */
.img-previsualizacion {
  width: 350px;
  height: 350px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos para las imágenes de iconos de redes sociales dentro del modal. Se establece un tamaño fijo para mantener la uniformidad. */
.img-red-social {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Estilos generales para el modal de publicación, incluyendo dimensiones y comportamiento de desbordamiento. */
.modal-publicacion {
  width: 1600px; /* Aumentado el tamaño del modal */
  height: 1000px;
  max-height: 90%;
  overflow-y: auto;
}



/* Ajustes para la sección de previsualización */
.previsualizacion-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra la previsualización */
  margin-top: 20px; /* Añade un margen superior */
}

.previsualizacion-container .redes-sociales {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; /* Aumenta el espacio entre los iconos */
  justify-content: center; /* Alinea los iconos al centro */
  margin-bottom: 20px; /* Añade un margen inferior para separar los iconos de la vista previa */
}

.previsualizacion-container .previsualizacion-info {
  width: 100%;
  margin-top: 20px;
}



/* Ajuste manual del tamaño del modal */
.custom-modal-size {
  max-width: 90%;
}

.actionButtons{
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width:600px) {
  .modal-publicacion {
    width: 100% !important;
    height: 100vh;
    max-height: 98%;
    overflow-y: auto;
  }
  .title{
    gap: 1rem;
  }
  h1{
    margin-left: 0.5rem !important;
    font-size: x-large;
  }
}
