<div class="modal-dialog custom-modal-size">
  <nb-card class="modal-publicacion row" style="background-color: #fff; padding: 10px; zoom: 81%;">
    <nb-card-header class="mt-2 mb-2">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="title col-md-7">
          <div class="col-sm-6 col-md-1 ">
            <nb-icon class="titulo-modal-publicacion-icono" icon="mdi-contact-info" pack="seekop"></nb-icon>
          </div>
          <div class="col-sm-8 col-md-11" >
            <h1>{{ 'components.modal-publicacion.labelCrearPublicacion' | translate }}</h1>
          </div>
        </div>
        <div class="col-md-1" style="text-align: right;">
          <nb-icon icon="close-outline" nbTooltip="Cerrar" pack="eva" (click)="closeModal()"></nb-icon>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body class="row">
      <div class="col-md-7">
        <strong style="font-size: 20px;">
          <nb-icon class="subtitulo-modal-publicacion-icono"
            style="margin-right: 20px; margin-bottom: 30px; margin-top: 10px;" icon="mdi-car" pack="seekop"></nb-icon>
          Datos de la publicación
        </strong>
        <div class="row">
          <modal-publicacion-social-networks
            [submitted]="submitted"
            [publicacion]="publicacion"
            [redesSociales]="redesSociales"
            [selectedSocialMedia]="selectedSocialMedia"
            (emitSelectedSocialMedia)="toggleRedSocial()"
            (emitSelectTipoPublicacion)="selectTipoPublicacion($event)"
            />
          <modal-publicacion-main-form
            [submitted]="submitted"
            [publicacion]="publicacion"
            [redesSociales]="redesSociales"
            [campanias]="campanias"
            [imagenPrevisualizacion]="imagenPrevisualizacion"
            [isValidFile]="isValidFile"
            [dropZoneMessage]="dropZoneMessage"
            (emitFileSelectEvent)="selectFileEvent($event)"
          />
        </div>

        <!-- Acordeón para configuraciones adicionales según la red social -->
        <modal-publicacion-acordeon [publicacion]="publicacion" />

        <strong style="font-size: 20px;">
          <nb-icon class="subtitulo-programar-modal-publicacion-icono"
            style="margin-right: 20px; margin-bottom: 30px; margin-top: 50px;" icon="calendar-text-outline"
            pack="seekop"></nb-icon>
          <div style="margin-top: -43px; margin-left: 48px;">Programar Publicación</div>
        </strong>

        <div class="row mt-3">
          <div class="col-md-12">
            <label [ngClass]="{'text-danger': submitted && !esFechaValidaFlag}">Selecciona fecha de publicación
              *</label>
          </div>
          <div class="col-md-12">
            <input fullWidth nbInput placeholder="Selecciona la fecha de publicación (opcional)"
              [nbDatepicker]="datepicker" [(ngModel)]="fechaProgramada" (ngModelChange)="esFechaValida()">
            <nb-datepicker #datepicker></nb-datepicker>
          </div>
        </div>
      </div>



      <div class="col-md-5">
        <strong style="font-size: 20px;">
          <nb-icon class="subtitulo-modal-publicacion-icono"
            style="color: #002A7F; margin-right: 20px; margin-bottom: 30px; margin-top: 10px;" icon="eye-outline"
            pack="eva"></nb-icon>
          {{ 'components.modal-publicacion.labelPrevisualizacion' | translate }}
        </strong>

        <div class="previsualizacion-container mb-4">
          <div class="redes-sociales">
            <nb-icon class="filter-icons icon-hover" style="margin-right: -10px;"
              *ngFor="let red of publicacion.redSocial" [icon]="getSocialMediaIcon(red)" pack="seekop"
              (click)="seleccionarRedSocialPrevia(red)">
            </nb-icon>
          </div>

          <br><br>

          <!-- Contenedor general para la vista previa -->
          <modal-publicacion-vista-previa
            [publicacion]="publicacion"
            [fileType]="fileType"
            [redSocialPreviaSeleccionada]="redSocialPreviaSeleccionada"
            [imagenPrevisualizacion]="imagenPrevisualizacion"
            (emitAlternarVista)="alternarVistaPrevia($event)" />

        </div>
      </div>

    </nb-card-body>

    <nb-card-footer>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-2" style="margin-right: -10px;">
              <nb-icon class="col-md-1 modal-publicacion-icono" style="margin-right: 8px;" icon="mdi-alert-outline"
                pack="seekop"></nb-icon>
            </div>
            <div class="col-md-10" style="margin-left: -15px;">
              <span
                style="font: italic normal normal 15px/20px Montserrat; color: #272D3B; opacity: 1; letter-spacing: 0px;">Los
                campos con un * son obligatorios</span>
            </div>
          </div>
        </div>

        <div class="col-md-4 actionButtons">
          <button nbButton hero status="primary" (click)="agregarPublicacion()" class="btn btn-primary"
            style="margin-left: -50px; padding: 10px !important;">
            <nb-icon class="col-md-1 modal-publicacion-icono" style="margin-right: 8px;" icon="mdi-cloud-upload-outline"
              pack="seekop"></nb-icon>
            {{ 'components.modal-publicacion.botonPublicar' | translate }}
          </button>

          <button nbButton status="danger" (click)="cancelar()" class="btn btn-danger"
            style="margin-left: -30px; padding: 10px !important;">
            <nb-icon class="col-md-1 modal-publicacion-icono" icon="close-circle-outline" pack="eva"></nb-icon>
            {{ 'components.modal-publicacion.botonCancelar' | translate }}
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</div>
