<div class="modal-dialog custom-modal-size">
  <nb-card class="modal-publicacion row" style="background-color: #fff; padding: 10px; zoom: 81%;">
    <nb-card-header class="mt-2 mb-2">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-1">
          <nb-icon class="titulo-modal-publicacion-icono" icon="mdi-contact-info" pack="seekop"></nb-icon>
        </div>
        <div class="col-md-6" style="margin-left: -30px;">
          <h1>{{ 'components.modal-publicacion.labelCrearPublicacion' | translate }}</h1>
        </div>
        <div class="col-md-1" style="text-align: right;">
          <nb-icon icon="close-outline" nbTooltip="Cerrar" pack="eva" (click)="closeModal()"></nb-icon>
        </div>
      </div>
    </nb-card-header>

    <nb-card-body class="row">
      <div class="col-md-7">
        <strong style="font-size: 20px;">
          <nb-icon class="subtitulo-modal-publicacion-icono"
            style="margin-right: 20px; margin-bottom: 30px; margin-top: 10px;" icon="mdi-car" pack="seekop"></nb-icon>
          Datos de la publicación
        </strong>
        <div class="row">
          <div class="col-md-12">
            <label [ngClass]="{'text-danger': submitted && publicacion.redSocial.length === 0}">Publicar en *</label>
            <div class="social-icons-container d-flex flex-wrap">
              <div *ngFor="let redSocial of redesSociales" class="social-icon m-2"
                [class.active]="isRedSocialSelected(redSocial.nombre)">
                <nb-icon [icon]="redSocial.icon" pack="seekop" (click)="toggleRedSocial(redSocial.nombre)"></nb-icon>
                <div *ngIf="redSocial.tipoPublicacion.length > 0 && isRedSocialSelected(redSocial.nombre)"
                  class="tipo-publicacion-container">
                  <nb-select [(ngModel)]="publicacion.tipoPublicacion"
                    (selectedChange)="selectTipoPublicacion(redSocial.nombre, publicacion.tipoPublicacion ? publicacion.tipoPublicacion : '')"
                    class="tipo-publicacion-select">
                    <nb-option *ngFor="let tipo of redSocial.tipoPublicacion" [value]="tipo">{{ tipo }}</nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3">
            <label [ngClass]="{'text-danger': submitted && !publicacion.titulo}">Título de la publicación *</label>
            <input fullWidth nbInput maxlength="50"
              placeholder="{{'components.modal-publicacion.placeHolderTituloPublicacion' | translate }}"
              [(ngModel)]="publicacion.titulo" required class="form-control mb-4">
          </div>

          <div class="col-md-12">
            <label [ngClass]="{'text-danger': submitted && !publicacion.descripcion}">Descripción de la publicación
              *</label>
            <textarea fieldSize="large" fullWidth nbInput
              placeholder="{{'components.modal-publicacion.placehoderDescripcionPublicacion' | translate }}"
              [(ngModel)]="publicacion.descripcion" required class="form-control mb-4"></textarea>
          </div>

          <div class="col-md-12 mb-4">
            <label [ngClass]="{'text-danger': submitted && !isValidFile}">Imágen o video de la publicación *</label>
            <ngx-file-drop (click)="fileInput.click()">
              <ng-template ngx-file-drop-content-tmp>
                <div class="custom-content" [class.success]="isValidFile" [class.error]="!isValidFile && submitted">
                  {{ dropZoneMessage }}
                </div>
              </ng-template>
            </ngx-file-drop>
            <input type="file" #fileInput style="display: none;" (change)="onFileSelect($event)">
          </div>

          <div class="col-md-12">
            <label [ngClass]="{'text-danger': submitted && publicacion.subcampanas.length === 0}">
              Selecciona las subcampañas *
            </label>
            <nb-select fullWidth class="mb-4"
              placeholder="{{'components.modal-publicacion.placeHolderSeleccionaSubcampanas' | translate}}"
              [(ngModel)]="publicacion.subcampanas" multiple>
              <nb-option *ngFor="let campania of campanias" [value]="campania.idsubcampanas">
                {{ campania.nombrecampana }}
              </nb-option>
              <nb-option>
                <nb-icon class="subtitulo-modal-publicacion-icono" icon="mdi-plus-circle-outline" pack="seekop"
                  style="margin-right: 10px;"></nb-icon>
                <input class="input-file" type="text" placeholder="Nueva subcampaña" (click)="$event.stopPropagation()"
                  id="nuevaSubcampania" (keydown.enter)="agregarNuevaCampania($event)"
                  (keydown.space)="$event.stopPropagation()">
              </nb-option>
            </nb-select>
          </div>
        </div>

        <!-- Acordeón para configuraciones adicionales según la red social -->
        <nb-accordion>
          <nb-accordion-item *ngFor="let redSocial of publicacion.redSocial" [expanded]="true">
            <nb-accordion-item-header>{{ redSocial | titlecase }}</nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <!-- Facebook -->
                <div *ngIf="redSocial.toLowerCase() === 'facebook' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Enlace</label>
                  <input fullWidth nbInput placeholder="Enlace" [(ngModel)]="publicacion.enlace"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'facebook' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Ubicación</label>
                  <input fullWidth nbInput placeholder="Ubicación" [(ngModel)]="publicacion.ubicacion"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'facebook' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Etiquetas</label>
                  <input fullWidth nbInput placeholder="Etiquetas" [(ngModel)]="publicacion.etiquetas"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'facebook' && publicacion.tipoPublicacion" class="col-md-12">
                  <div class="alert alert-warning" role="alert">
                    Video: Máximo 240 minutos, 4GB. Imagen: Resolución mínima 600x315 píxeles.
                  </div>
                </div>

                <!-- Instagram -->
                <div *ngIf="redSocial.toLowerCase() === 'instagram' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Ubicación</label>
                  <input fullWidth nbInput placeholder="Ubicación" [(ngModel)]="publicacion.ubicacion"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'instagram' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Etiquetas</label>
                  <input fullWidth nbInput placeholder="Etiquetas" [(ngModel)]="publicacion.etiquetas"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'instagram' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Alt Text</label>
                  <input fullWidth nbInput placeholder="Alt Text" [(ngModel)]="publicacion.altText"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'instagram' && publicacion.tipoPublicacion" class="col-md-12">
                  <div class="alert alert-warning" role="alert">
                    Video: Máximo 60 segundos. Imagen: Resolución recomendada 1080x1080 píxeles.
                  </div>
                </div>

                <!-- YouTube -->
                <div *ngIf="redSocial.toLowerCase() === 'youtube' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Título</label>
                  <input fullWidth nbInput placeholder="Título" [(ngModel)]="publicacion.tituloVideo"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'youtube' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Tags</label>
                  <input fullWidth nbInput placeholder="Tags" [(ngModel)]="publicacion.tags"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'youtube' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Miniatura</label>
                  <input type="file" fullWidth nbInput (change)="onFileSelect($event, 'miniatura')"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'youtube' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Playlist</label>
                  <input fullWidth nbInput placeholder="Playlist" [(ngModel)]="publicacion.playlist"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'youtube' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Categoría</label>
                  <input fullWidth nbInput placeholder="Categoría" [(ngModel)]="publicacion.categoria"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'youtube' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Subtítulos</label>
                  <input type="file" fullWidth nbInput (change)="onFileSelect($event, 'subtitulos')"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'youtube' && publicacion.tipoPublicacion" class="col-md-12">
                  <label>Público/Privado</label>
                  <nb-select fullWidth [(ngModel)]="publicacion.privacidad" class="form-control mb-3">
                    <nb-option value="publico">Público</nb-option>
                    <nb-option value="privado">Privado</nb-option>
                  </nb-select>
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'youtube' && publicacion.tipoPublicacion" class="col-md-12">
                  <div class="alert alert-warning" role="alert">
                    Corta Duración: Hasta 15 minutos. Larga Duración: Más de 15 minutos. Resolución mínima: 720p.
                  </div>
                </div>

                <!-- TikTok -->
                <div *ngIf="redSocial.toLowerCase() === 'tiktok' && publicacion.tipoPublicacion" class="col-md-12 mb-3">
                  <label>Hashtags</label>
                  <input fullWidth nbInput placeholder="Hashtags" [(ngModel)]="publicacion.hashtags"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'tiktok' && publicacion.tipoPublicacion" class="col-md-12 mb-3">
                  <label>Enlace</label>
                  <input fullWidth nbInput placeholder="Enlace" [(ngModel)]="publicacion.enlaceTikTok"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'tiktok' && publicacion.tipoPublicacion" class="col-md-12">
                  <div class="alert alert-warning" role="alert">
                    Duración: Máximo 10 minutos. Resolución recomendada: 1080x1920 píxeles.
                  </div>
                </div>

                <!-- LinkedIn -->
                <div *ngIf="redSocial.toLowerCase() === 'linkedin' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Enlace</label>
                  <input fullWidth nbInput placeholder="Enlace" [(ngModel)]="publicacion.enlaceLinkedIn"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'linkedin' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Texto</label>
                  <textarea fullWidth nbInput placeholder="Texto" [(ngModel)]="publicacion.textoHistoriaLinkedIn"
                    class="form-control mb-3"></textarea>
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'linkedin' && publicacion.tipoPublicacion" class="col-md-12">
                  <div class="alert alert-warning" role="alert">
                    Video: Máximo 20 segundos. Imagen: Resolución recomendada 1080x1920 píxeles.
                  </div>
                </div>

                <!-- Pinterest -->
                <div *ngIf="redSocial.toLowerCase() === 'pinterest' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Enlace</label>
                  <input fullWidth nbInput placeholder="Enlace" [(ngModel)]="publicacion.enlacePinterest"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'pinterest' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Tablero</label>
                  <input fullWidth nbInput placeholder="Tablero" [(ngModel)]="publicacion.tablero"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'pinterest' && publicacion.tipoPublicacion" class="col-md-12">
                  <div class="alert alert-warning" role="alert">
                    Video: Máximo 15 minutos. Imagen: Resolución mínima 600x900 píxeles.
                  </div>
                </div>

                <!-- Twitter -->
                <div *ngIf="redSocial.toLowerCase() === 'twitter' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Enlace</label>
                  <input fullWidth nbInput placeholder="Enlace" [(ngModel)]="publicacion.enlaceTwitter"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'twitter' && publicacion.tipoPublicacion"
                  class="col-md-12 mb-3">
                  <label>Hashtags</label>
                  <input fullWidth nbInput placeholder="Hashtags" [(ngModel)]="publicacion.hashtagsTwitter"
                    class="form-control mb-3" />
                </div>
                <div *ngIf="redSocial.toLowerCase() === 'twitter' && publicacion.tipoPublicacion" class="col-md-12">
                  <div class="alert alert-warning" role="alert">
                    Video: Máximo 2 minutos 20 segundos. Imagen: Resolución mínima 440x220 píxeles.
                  </div>
                </div>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>

        <strong style="font-size: 20px;">
          <nb-icon class="subtitulo-programar-modal-publicacion-icono"
            style="margin-right: 20px; margin-bottom: 30px; margin-top: 50px;" icon="calendar-text-outline"
            pack="seekop"></nb-icon>
          <div style="margin-top: -43px; margin-left: 48px;">Programar Publicación</div>
        </strong>

        <div class="row mt-3">
          <div class="col-md-12">
            <label [ngClass]="{'text-danger': submitted && !esFechaValidaFlag}">Selecciona fecha de publicación
              *</label>
          </div>
          <div class="col-md-12">
            <input fullWidth nbInput placeholder="Selecciona la fecha de publicación (opcional)"
              [nbDatepicker]="datepicker" [(ngModel)]="fechaProgramada" (ngModelChange)="esFechaValida()">
            <nb-datepicker #datepicker></nb-datepicker>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <strong style="font-size: 20px;">
          <nb-icon class="subtitulo-modal-publicacion-icono"
            style="color: #002A7F; margin-right: 20px; margin-bottom: 30px; margin-top: 10px;" icon="eye-outline"
            pack="eva"></nb-icon>
          {{ 'components.modal-publicacion.labelPrevisualizacion' | translate }}
        </strong>

        <div class="previsualizacion-container mb-4">
          <div class="redes-sociales">
            <nb-icon class="filter-icons icon-hover" style="margin-right: -10px;"
              *ngFor="let red of publicacion.redSocial" [icon]="getSocialMediaIcon(red)" pack="seekop"
              (click)="seleccionarRedSocialPrevia(red)">
            </nb-icon>
          </div>

          <br><br>

          <!-- Contenedor general para la vista previa -->
          <div [ngClass]="{
  'mobile-preview-container': vistaPrevia === 'mobile',
  'desktop-preview-container': vistaPrevia === 'desktop',
  'facebook-preview': redSocialPreviaSeleccionada.toLowerCase() === 'facebook',
  'instagram-preview': redSocialPreviaSeleccionada.toLowerCase() === 'instagram',
  'tiktok-preview': redSocialPreviaSeleccionada.toLowerCase() === 'tiktok',
  'pinterest-preview': redSocialPreviaSeleccionada.toLowerCase() === 'pinterest',
  'youtube-preview': redSocialPreviaSeleccionada.toLowerCase() === 'youtube',
  'twitter-preview': redSocialPreviaSeleccionada.toLowerCase() === 'twitter',
  'linkedin-preview': redSocialPreviaSeleccionada.toLowerCase() === 'linkedin',
  'x-preview': redSocialPreviaSeleccionada.toLowerCase() === 'x',
  'default-preview': !redSocialPreviaSeleccionada || !['facebook', 'instagram', 'tiktok', 'pinterest', 'youtube', 'twitter', 'linkedin', 'x'].includes(redSocialPreviaSeleccionada.toLowerCase())
}" class="preview-container">

            <!-- Vista previa por defecto cuando no hay ninguna red social seleccionada o si es una red no configurada -->
            <div
              *ngIf="!redSocialPreviaSeleccionada || !['facebook', 'instagram', 'tiktok', 'pinterest', 'youtube', 'twitter', 'linkedin', 'x'].includes(redSocialPreviaSeleccionada.toLowerCase())">
              <div class="default-post-preview">
                <p class="preview-description">Selecciona una red social para ver la previsualización aquí.</p>
                <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="post-image">
              </div>
            </div>

            <!-- Facebook Preview -->
            <div *ngIf="redSocialPreviaSeleccionada.toLowerCase() === 'facebook'">
              <!-- Vista Facebook Post -->
              <div *ngIf="publicacion.tipoPublicacion === 'post'" class="facebook-post-preview">
                <!-- Cabecera del Post -->
                <div class="post-header">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Logo de Facebook" class="post-logo">
                  <div class="post-header-info">
                    <strong>Dev-Seekop</strong>
                    <p>21 August at 12:45 PM</p>
                  </div>
                </div>
                
                <!-- Contenido del Post -->
                <div class="post-content">
                  <p>{{ publicacion.descripcion || publicacionDefault.descripcion }}</p>
              
                  <!-- Mostrar imagen o video si existe, de lo contrario mostrar la imagen predeterminada -->
                  <ng-container *ngIf="fileType !== ''; else defaultImageTemplate">
                    <ng-container *ngIf="imagenPrevisualizacion">
                      <video *ngIf="fileType === 'video'; else imageTemplate" [src]="imagenPrevisualizacion" controls class="post-video"></video>
                    </ng-container>
                    <ng-template #imageTemplate>
                      <img *ngIf="fileType === 'image'" [src]="imagenPrevisualizacion" alt="Post Image" class="post-image">
                    </ng-template>
                  </ng-container>
                  <ng-template #defaultImageTemplate>
                    <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="post-image">
                  </ng-template>
                </div>
              </div>
              

              <!-- Vista Facebook Reel -->
              <div *ngIf="publicacion.tipoPublicacion === 'reel'" class="facebook-reel-preview">
                <div class="reel-header">
                  <nb-icon icon="arrow-left-outline" pack="eva" class="back-icon"></nb-icon>
                  <div class="reel-info">
                    <img src="https://seekop.com/wp-content/uploads/2020/07/logo-azul.png" alt="Logo" class="reel-logo">
                    <div>
                      <strong>Dev-Seekop</strong>
                      <button class="follow-button">Seguir</button>
                    </div>
                  </div>
                </div>
                <div class="reel-content">
                  <ng-container *ngIf="fileType !== ''; else defaultImageTemplate">
                    <ng-container *ngIf="imagenPrevisualizacion">
                      <video *ngIf="fileType === 'video'; else imageTemplate" [src]="imagenPrevisualizacion" controls
                        class="reel-video"></video>
                    </ng-container>
                    <ng-template #imageTemplate>
                      <img *ngIf="fileType === 'image'" [src]="imagenPrevisualizacion" alt="Reel Image"
                        class="reel-image">
                    </ng-template>
                  </ng-container>
                  <ng-template #defaultImageTemplate>
                    <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="reel-image">
                  </ng-template>
                  <p class="video-unavailable" *ngIf="!imagenPrevisualizacion && fileType === 'video'">Video no
                    disponible</p>
                </div>
                <div class="reel-footer">
                  <button class="footer-button">Enviar</button>
                  <div class="interaction-icons">
                    <div class="icon-text">
                      <nb-icon icon="thumbs-up-outline" pack="eva"></nb-icon>
                      <span>0</span>
                    </div>
                    <div class="icon-text">
                      <nb-icon icon="message-circle-outline" pack="eva"></nb-icon>
                      <span>0</span>
                    </div>
                    <div class="icon-text">
                      <nb-icon icon="share-outline" pack="eva"></nb-icon>
                      <span>0</span>
                    </div>
                  </div>
                </div>
                <div class="reel-caption">
                  <p>{{ publicacion.descripcion || 'asdfasdf' }}</p>
                  <div class="music-info">
                    <nb-icon icon="music-outline" pack="eva"></nb-icon>
                    <span>Dev-Seekop</span>
                  </div>
                </div>
              </div>



              <!-- Vista Facebook Story -->
              <div *ngIf="publicacion.tipoPublicacion === 'story'" class="facebook-story-preview">
                <div class="story-header">
                  <img src="https://seekop.com/wp-content/uploads/2020/07/logo-azul.png" alt="Logo" class="story-logo">
                  <div class="story-info">
                    <strong>Dev-Seekop</strong>
                    <p>10m</p>
                  </div>
                </div>
                <div class="story-content">
                  <!-- Mostrar imagen o video si existe, de lo contrario mostrar la imagen predeterminada -->
                  <ng-container *ngIf="fileType !== ''; else defaultImageTemplate">
                    <ng-container *ngIf="imagenPrevisualizacion">
                      <video *ngIf="fileType === 'video'; else imageTemplate" [src]="imagenPrevisualizacion" controls
                        class="story-video"></video>
                    </ng-container>
                    <ng-template #imageTemplate>
                      <img *ngIf="fileType === 'image'" [src]="imagenPrevisualizacion" alt="Story Image"
                        class="story-image">
                    </ng-template>
                  </ng-container>
                  <ng-template #defaultImageTemplate>
                    <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="story-image">
                  </ng-template>
                </div>
                <div class="story-footer">
                  <button class="footer-button">Enviar mensaje</button>
                  <div class="footer-icons">
                    <nb-icon icon="heart-outline" pack="eva"></nb-icon>
                    <nb-icon icon="paper-plane-outline" pack="eva"></nb-icon>
                  </div>
                </div>
              </div>



            </div>

            <!-- Instagram Preview -->
            <div *ngIf="redSocialPreviaSeleccionada.toLowerCase() === 'instagram'">
              <!-- Vista Instagram Post -->
              <div *ngIf="publicacion.tipoPublicacion === 'post'" class="instagram-preview">
                <div class="instagram-post-preview">
                  <div class="post-header">
                    <img src="https://seekop.com/wp-content/uploads/2020/07/logo-azul.png" alt="Profile Picture"
                      class="story-logo">
                    <div class="post-user-info">
                      <strong>seekopimagine</strong>
                      <p>Hace 1 hora</p>
                    </div>
                  </div>
                  <div class="post-content">
                    <img [src]="imagenPrevisualizacion || defaultPreviewImage" alt="Instagram Post" class="post-image">
                  </div>
                  <div class="post-footer">
                    <div class="icons">
                      <nb-icon icon="heart-outline" pack="eva"></nb-icon>
                      <nb-icon icon="message-circle-outline" pack="eva"></nb-icon>
                      <nb-icon icon="paper-plane-outline" pack="eva"></nb-icon>
                    </div>
                    <div class="post-description">
                      <strong>seekopimagine</strong> {{ publicacion.descripcion || 'Texto de ejemplo...' }}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Vista Instagram Reel -->
              <div *ngIf="publicacion.tipoPublicacion === 'reel'" class="instagram-preview">
                <div class="instagram-reel-preview">
                  <div class="reel-content">
                    <!-- Mostrar video si está disponible, de lo contrario mostrar la imagen predeterminada -->
                    <ng-container *ngIf="fileType === 'video' && imagenPrevisualizacion; else imageTemplate">
                      <video [src]="imagenPrevisualizacion" controls class="reel-video"></video>
                    </ng-container>
                    <ng-template #imageTemplate>
                      <img [src]="imagenPrevisualizacion || defaultPreviewImage" alt="Instagram Reel"
                        class="reel-image">
                    </ng-template>
                  </div>
                  <div class="reel-caption">
                    <p>{{ publicacion.descripcion || 'Texto de ejemplo...' }}</p>
                  </div>
                </div>
              </div>




              <!-- Instagram Story Preview -->
              <div *ngIf="publicacion.tipoPublicacion === 'story'" class="instagram-preview">
                <div class="instagram-story-preview">
                  <div class="story-header">
                    <img src="https://seekop.com/wp-content/uploads/2020/07/logo-azul.png" alt="Profile Picture"
                    class="story-logo">
                    <div class="story-user-info">
                      <strong>seekopimagine</strong>
                      <p>Hace 10m</p>
                    </div>
                  </div>
                  <div class="story-content">
                    <video *ngIf="fileType === 'video'" [src]="imagenPrevisualizacion" controls
                      class="story-video"></video>
                    <img *ngIf="fileType !== 'video'" [src]="imagenPrevisualizacion || defaultPreviewImage"
                      alt="Instagram Story" class="story-image">
                  </div>
                  <div class="story-footer">
                    <button class="footer-button">Enviar mensaje</button>
                    <div class="footer-icons">
                      <nb-icon icon="heart-outline" pack="eva"></nb-icon>
                      <nb-icon icon="paper-plane-outline" pack="eva"></nb-icon>
                    </div>
                  </div>
                </div>
              </div>


            </div>



            <!-- TikTok Preview -->
            <div *ngIf="redSocialPreviaSeleccionada.toLowerCase() === 'tiktok'">
              <!-- Solo se muestra el marco de TikTok -->
              <div class="tiktok-preview">
                <!-- Aquí en el futuro puedes agregar la vista real de TikTok -->
                <div class="tiktok-header">
                  <img src="https://seekop.com/wp-content/uploads/2020/07/logo-azul.png" alt="Profile Picture"
                  class="story-logo">                  
                  <div class="tiktok-header-info">
                    <strong>devseekop</strong>
                    <p>Publicado el 25 agosto</p>
                  </div>
                </div>
              
                <!-- Contenido del TikTok -->
                <div class="tiktok-content">
                  <ng-container *ngIf="fileType !== ''; else defaultImageTemplate">
                    <ng-container *ngIf="imagenPrevisualizacion">
                      <video *ngIf="fileType === 'video'; else imageTemplate" [src]="imagenPrevisualizacion" controls class="tiktok-video"></video>
                    </ng-container>
                    <ng-template #imageTemplate>
                      <img *ngIf="fileType === 'image'" [src]="imagenPrevisualizacion" alt="TikTok Image" class="tiktok-image">
                    </ng-template>
                  </ng-container>
                  <ng-template #defaultImageTemplate>
                    <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="tiktok-image">
                  </ng-template>
                </div>
              
                <!-- Pie de página del TikTok -->
                <div class="tiktok-footer">
                  <p>{{ publicacion.descripcion || publicacionDefault.descripcion }}</p>
                  <div class="tiktok-actions">
                    <button class="tiktok-action"><i class="fas fa-heart" style="color: #002A7F;"></i> 12K</button>
                    <button class="tiktok-action"><i class="fas fa-comment"></i> 345</button>
                    <button class="tiktok-action"><i class="fas fa-share"></i></button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pinterest Preview -->
            <div *ngIf="redSocialPreviaSeleccionada.toLowerCase() === 'pinterest'" class="pinterest-preview">
              <!-- Solo se muestra el marco de Pinterest -->
              <div class="pin-header">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="Logo de Pinterest" class="pin-logo">
                <div class="pin-header-info">
                  <strong>Dev-Seekop</strong>
                  <p>Guardado desde devseekop.com</p>
                </div>
              </div>
            
              <!-- Contenido del Pin -->
              <div class="pin-content">
                <ng-container *ngIf="fileType !== ''; else defaultImageTemplate">
                  <ng-container *ngIf="imagenPrevisualizacion">
                    <img *ngIf="fileType === 'image'; else videoTemplate" [src]="imagenPrevisualizacion" alt="Pin Image" class="pin-image">
                  </ng-container>
                  <ng-template #videoTemplate>
                    <video *ngIf="fileType === 'video'" [src]="imagenPrevisualizacion" controls class="pin-video"></video>
                  </ng-template>
                </ng-container>
                <ng-template #defaultImageTemplate>
                  <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="pin-image">
                </ng-template>
              </div>
            
              <!-- Información del Pin -->
              <div class="pin-footer">
                <p>{{ publicacion.descripcion || publicacionDefault.descripcion }}</p>
                <div class="pin-actions">
                  <button class="pin-action">Guardar</button>
                  <button class="pin-action"><i class="fas fa-share"></i></button>
                  <button class="pin-action"><i class="fas fa-ellipsis-h"></i></button>
                </div>
              </div>
            </div>

            <!-- YouTube Preview -->
            <div *ngIf="redSocialPreviaSeleccionada.toLowerCase() === 'youtube'">
              <!-- Vista YouTube Video -->
              <div *ngIf="publicacion.tipoPublicacion === 'video'" class="youtube-preview">
                <div class="youtube-post-preview">
                  <!-- Miniatura del Video -->
                  <div class="thumbnail">
                    <ng-container *ngIf="fileType !== ''; else defaultImageTemplate">
                      <ng-container *ngIf="imagenPrevisualizacion">
                        <video *ngIf="fileType === 'video'; else imageTemplate" [src]="imagenPrevisualizacion" controls class="story-video"></video>
                      </ng-container>
                      <ng-template #imageTemplate>
                        <img *ngIf="fileType === 'image'" [src]="imagenPrevisualizacion" alt="Story Image" class="story-image">
                      </ng-template>
                    </ng-container>
                    <ng-template #defaultImageTemplate>
                      <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="story-image">
                    </ng-template>
                    <span class="video-duration">10:34</span>
                  </div>
              
                  <!-- Información del Video -->
                  <div class="video-info">
                    <div class="channel-avatar">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.png" alt="Logo de YouTube" class="story-logo">
                    </div>
                    <div class="video-details">
                      <h3 class="video-title">Título del Video</h3>
                      <p class="channel-name">seekopimagine</p>
                      <p class="video-stats">1.2M vistas • Hace 2 días</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div *ngIf="publicacion.tipoPublicacion === 'short'" class="youtube-preview">
                <div class="youtube-short-preview">
                  <!-- Miniatura del Short -->
                  <div class="thumbnail">
                    <ng-container *ngIf="fileType !== ''; else defaultImageTemplate">
                      <ng-container *ngIf="imagenPrevisualizacion">
                        <video *ngIf="fileType === 'video'; else imageTemplate" [src]="imagenPrevisualizacion" controls
                          class="story-video"></video>
                      </ng-container>
                      <ng-template #imageTemplate>
                        <img *ngIf="fileType === 'image'" [src]="imagenPrevisualizacion" alt="Story Image"
                          class="story-image">
                      </ng-template>
                    </ng-container>
                    <ng-template #defaultImageTemplate>
                      <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="story-image">
                    </ng-template>

                    <span class="video-duration">0:15</span>
                  </div>
                
                  <!-- Información del Short -->
                  <div class="short-info">
                    <h3 class="short-title">Título del Short de YouTube</h3>
                    <p class="short-stats">2.3M vistas • Hace 5 horas</p>
                  </div>
                </div>
                
              </div>


            </div>

            <!-- Twitter Preview -->
            <div *ngIf="redSocialPreviaSeleccionada.toLowerCase() === 'twitter'">
              <!-- Solo se muestra el marco de Twitter -->
              <div class="twitter-preview">
                <div class="twitter-post-preview">
                  <!-- Avatar del usuario -->
                  <div class="user-info">
                    <img src="https://seekop.com/wp-content/uploads/2020/07/logo-azul.png" alt="Profile Picture"
                    class="story-logo">
                    <div class="user-details">
                      <span class="user-name">Seekop</span>
                    </div>
                  </div>
                
                  <!-- Texto del Tweet -->
                  <p class="tweet-text">Este es un ejemplo de un tweet con un video adjunto. #Ejemplo #VideoTweet</p>
                
                  <!-- Video del Tweet -->
                  <div class="video-container">
                    <ng-container *ngIf="fileType !== ''; else defaultImageTemplate">
                      <ng-container *ngIf="imagenPrevisualizacion">
                        <video *ngIf="fileType === 'video'; else imageTemplate" [src]="imagenPrevisualizacion" controls
                          class="story-video"></video>
                      </ng-container>
                      <ng-template #imageTemplate>
                        <img *ngIf="fileType === 'image'" [src]="imagenPrevisualizacion" alt="Story Image"
                          class="story-image">
                      </ng-template>
                    </ng-container>
                    <ng-template #defaultImageTemplate>
                      <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="story-image">
                    </ng-template>
                    <span class="video-duration">1:20</span>
                  </div>
                
                  <!-- Detalles de interacción -->
                  <div class="tweet-stats">
                    <span class="tweet-stat">3.5K vistas</span>
                    <span class="tweet-stat">500 Retweets</span>
                    <span class="tweet-stat">1.2K Me gusta</span>
                  </div>
                </div>
                
              </div>
            </div>

            <!-- LinkedIn Preview -->
            <div *ngIf="redSocialPreviaSeleccionada.toLowerCase() === 'linkedin'">
              <!-- Solo se muestra el marco de LinkedIn -->
              <div class="linkedin-preview">
                <!-- Aquí en el futuro puedes agregar la vista real de LinkedIn -->
                <div class="linkedin-post-preview">
                  <!-- Encabezado de LinkedIn con logo -->
                  <div class="header">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="Logo de LinkedIn" class="linkedin-logo">
                    <span class="header-text">LinkedIn</span>
                  </div>
                
                  <!-- Información del usuario o empresa -->
                  <div class="user-info">
                    <img src="https://seekop.com/wp-content/uploads/2020/07/logo-azul.png" alt="Profile Picture"
                    class="story-logo">                    <div class="user-details">
                      <span class="user-name">Seekop</span>
                      <span class="user-title">Seekop User</span>
                    </div>
                  </div>
                
                  <!-- Texto del Post -->
                  <p class="post-text">Este es un ejemplo de una publicación en LinkedIn con un video adjunto. ¡Mira este contenido increíble! #Ejemplo #VideoPost</p>
                
                  <!-- Video del Post -->
                  <div class="video-container">
                    <ng-container *ngIf="fileType !== ''; else defaultImageTemplate">
                      <ng-container *ngIf="imagenPrevisualizacion">
                        <video *ngIf="fileType === 'video'; else imageTemplate" [src]="imagenPrevisualizacion" controls
                          class="story-video"></video>
                      </ng-container>
                      <ng-template #imageTemplate>
                        <img *ngIf="fileType === 'image'" [src]="imagenPrevisualizacion" alt="Story Image"
                          class="story-image">
                      </ng-template>
                    </ng-container>
                    <ng-template #defaultImageTemplate>
                      <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="story-image">
                    </ng-template>
                    <span class="video-duration">3:45</span>
                  </div>
                
                  <!-- Detalles de interacción -->
                  <div class="post-stats">
                    <span class="post-stat">1.5K vistas</span>
                    <span class="post-stat">200 Comentarios</span>
                    <span class="post-stat">350 Reacciones</span>
                  </div>
                </div>
                
               
              </div>
            </div>

            <!-- X Preview -->
            <div *ngIf="redSocialPreviaSeleccionada.toLowerCase() === 'x'">
              <!-- Solo se muestra el marco de X (anteriormente Twitter) -->
              <div class="x-preview">
                <!-- Aquí en el futuro puedes agregar la vista real de X -->
                <ng-container *ngIf="imagenPrevisualizacion; else defaultImageTemplate"></ng-container>
                <ng-template #defaultImageTemplate>
                  <img [src]="defaultPreviewImage" alt="Imagen por defecto" class="post-image">
                </ng-template>
              </div>
            </div>

          </div>

        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <button nbButton outline status="primary" (click)="alternarVistaPrevia('desktop')">Vista Escritorio</button>
            <button nbButton outline status="primary" (click)="alternarVistaPrevia('mobile')">Vista Móvil</button>
          </div>
        </div>
      </div>

    </nb-card-body>

    <nb-card-footer>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-2" style="margin-right: -10px;">
              <nb-icon class="col-md-1 modal-publicacion-icono" style="margin-right: 8px;" icon="mdi-alert-outline"
                pack="seekop"></nb-icon>
            </div>
            <div class="col-md-10" style="margin-left: -15px;">
              <span
                style="font: italic normal normal 15px/20px Montserrat; color: #272D3B; opacity: 1; letter-spacing: 0px;">Los
                campos con un * son obligatorios</span>
            </div>
          </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-1">
          <button nbButton hero status="primary" (click)="agregarPublicacion()" class="btn btn-primary"
            style="margin-left: -50px; padding: 10px !important;">
            <nb-icon class="col-md-1 modal-publicacion-icono" style="margin-right: 8px;" icon="mdi-cloud-upload-outline"
              pack="seekop"></nb-icon>
            {{ 'components.modal-publicacion.botonPublicar' | translate }}
          </button>
        </div>
        <div class="col-md-1">
          <button nbButton status="danger" (click)="cancelar()" class="btn btn-danger"
            style="margin-left: -30px; padding: 10px !important;">
            <nb-icon class="col-md-1 modal-publicacion-icono" icon="close-circle-outline" pack="eva"></nb-icon>
            {{ 'components.modal-publicacion.botonCancelar' | translate }}
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</div>